<main>
    <div class="container-fluid" style="text-align: center;">
        <h2>Willkommen bei Unfelbar!</h2>
        <h4>Der Unfelbar - Barfinder ist das ultimative Ziel für Barbesucher und Barbesitzer in Konstanz.</h4>
        <p> Wir haben es uns zur Aufgabe gemacht, das umfangreichste Verzeichnis von Bars in der Region bereitzustellen,
            damit du ganz einfach den perfekten Ort für deinen Abend finden kannst.
            Egal, ob Du nach einer gemütlichen Atmosphäre, Live-Musik oder einer großen Auswahl an Getränken suchst,
            wir haben alles. Unser Ziel ist es, Dir die Suche nach der perfekten Bar für Deinen Abend zu erleichtern.</p>
        <p>Wir bieten detaillierte Informationen zu jeder Bar, einschließlich
            Beschreibungen der Atmosphäre, der Speisen und Getränke sowie der Veranstaltungen. Außerdem bieten wir Bewertungen von unseren Nutzern, damit du dir ein besseres Bild
            von der Bar machen kannst, bevor du sie besuchst.</p>
        <p>Wir sind auch bestrebt, lokale Bars bei der Werbung für ihre Standorte zu unterstützen. Wenn du ein Barbesitzer in Konstanz bist,
            kannst du deine Bar kostenlos auf unserer Seite eintragen. Dies wird Dir helfen, mehr Aufmerksamkeit zu erlangen und es für die Leute einfacher machen, Dein Lokal zu finden.
            Wenn Du auf der Suche nach eion, the reasonably expected pay range is between $11,500 and $14,000iner tollen Ausgehgelegenheit in Konstanz bist, bist Du bei Unfelbar - Barfinder genau richtig. Mit unserem umfassenden Verzeichnis und hilfreichen Bewertungen helfen wir Dir,
            den perfekten Ort für Deinen Abend zu finden.</p>
    </div>
    <button class="unfelbar-button justify-se" href="/login">Sign up now</button>
</main>
