<main>
    <div class="h-100">
        <h2 class="align-self-center">Kategorien</h2>
        <table class="table">
            <thead>
            <tr><th>Name</th><th>Actions</th></tr>
            </thead>
            <tbody>
            <!-- Meow! -->
            <% cats.forEach((cat) => { %>
                <tr>
                    <td><%= cat.name %></td>
                    <td>
                        <button class="p-1 unfelbar-background-chalk unfelbar-text-brown" onclick="window.location='/category/edit/<%= cat.id %>'">Update
                        </button>
                    </td>
                    <td>
                        <button class="p-1 unfelbar-background-chalk unfelbar-text-brown" onclick="window.location='/category/kill/<%= cat.id %>'">Delete
                        </button>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <button class="unfelbar-button align-self-center" onclick="window.location='/category/new'">Neue Kategorie</button>
    </div>
</div>
</main>
