<main>

    <div class="d-flex flex-column justify-content-center h-25">
        <h2 class="align-self-center">Neues Item hinzufügen</h2>
    </div>
        <form action="/item/new" method="post" class="h-100 ">
            <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
            <div class="d-flex flex-column p-2 h-100 align-items-center">
                    <label for="itemName" class="col-form-label-lg">Name</label>
                    <input type="text" id="itemName" class="unfelbar-input" minlength="2" maxlength="80" pattern="[A-Za-z0-9äöüÄÖÜ\s]{2,80}" name="name" required>
                    <label for="price" class="col-form-label-lg">Preis</label>
                    <input type="number" id="price" class="unfelbar-input" min="0" max="100000" step=".01" name="price" required>
                    <label for="description" class="col-form-label-lg">Beschreibung</label>
                    <input type="text" id="description" class="unfelbar-input" maxlength="255" pattern="[A-Za-z0-9äöüÄÖÜ\s]{2,80}" name="description" required>
                <label for="category" class="col-form-label-lg">Kategorie</label>
                <select id="category" class="form-select unfelbar-input" name="category" required>
                    <% cats.forEach((cat) => { %>
                        <option value="<%- cat.id %>"><%- cat.name %></option>
                    <% }); %>
                </select>
            <div class="d-flex justify-content-around mt-4 w-100">
                <button type="submit" class="unfelbar-button">Speichern</button>
            </div>
            </div>
        </form>
    <button class="unfelbar-button align-self-center mb-4" onclick="window.location='/bar/<%= req.me.isOwnerOf%>/items'">Zurück</button>
</main>
