<main class="justify-content-between p-0">
    <!-- For spacing 'space-between' of main tag -->
    <div class="unfelbar-dummy m-1"></div>

    <!-- For spacing 'space-between' of main tag -->
    <div class="d-flex flex-column justify-content-center align-items-center px-2 w-100">
        <form action="/search" class="position-relative w-75">
            <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
            <label class="w-100">
                <input type="text" minlength="0" required name="name" class="form-control unfelbar-border unfelbar-label-search" placeholder="Find your bar">
            </label>
            <img src="/images/icons/search.svg" alt="search_icon" class="position-absolute top-50 end-0 translate-middle-y mx-2">
        </form>

        <!-- TODO: Make hrefs to a search-by-tag action for release -->
        <div class="d-flex justify-content-around w-100 my-2">
            <form class="d-inline-block" action="/">
                <input type="submit" class="m-1 rounded unfelbar-tag" value="Studenten">
            </form>
            <form class="d-inline-block" action="/">
                <input type="submit" class="m-1 rounded unfelbar-tag" value="Cocktails">
            </form>
            <form class="d-inline-block" action="/">
                <input type="submit" class="m-1 rounded unfelbar-tag" value="Livemusik">
            </form>
        </div>
    </div>

    <h2 class="text-center my-3 px-2 text-uppercase">Jede Bar an einem Ort!</h2>

    <!-- TODO: for release candidate use Bootstrap to change between mobile and desktop -->
    <div
         class="d-flex carousel slide unfelbar-carousel-sm unfelbar-background-chalk unfelbar-shadow"
         data-bs-ride="carousel">
        <div class="carousel-inner text-center unfelbar-text-white d-flex align-items-center ">
            <div class="carousel-item active" data-bs-interval="8000">
                <h5>Neu in der Stadt und Langeweile?</h5>
                <p class="unfelbar-catchtext">Mit dem Barfinder von Unfelbar findest du die besten Bars, Events und
                    Angebote in deinem Konstanz.</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Noch keine Idee für die Kneipentour?</h5>
                <p class="unfelbar-catchtext">Sei der Guide den deine Freunde suchen und teile deine Touren und
                    Lieblingskneipen.</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Deine Bar ist schwer zu finden?</h5>
                <p class="unfelbar-catchtext">Bringe deine Bar auf jedes Smartphone. Verliere keine Zeit, melde dich an
                    und deine Bar wird un(ver)fehlbar!</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Geschüttelt, nicht gerührt?</h5>
                <p class="unfelbar-catchtext">Finde mit Unfelbar einen Ort der deinen Wünschen gerecht wird. Genieße
                    deinen Feierabend in ruhiger Atmosphäre bei einem Glas Wein.</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Niemand kommt zu deinen Events?</h5>
                <p class="unfelbar-catchtext">Bei Unfelbar kannst du dich und deine Bar einfach, unkompliziert und
                    schnell der ganzen Stadt präsentieren.</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Mit dem Chef auf einen Drink?</h5>
                <p class="unfelbar-catchtext">Egal ob Meeting oder Abend mit Freund*innen, Unfelbar hilft dir die
                    richtige Wahl zu treffen.</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Zu spät zur Happy-Hour?</h5>
                <p class="unfelbar-catchtext">Keine bösen Überraschungen mehr durch verpasste Schnapps.</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Eigene Homepage zu kompliziert?</h5>
                <p class="unfelbar-catchtext">Ganz ohne Programmierkenntnisse setzt du deine Events und Angebote in
                    Szene. Registriere dich und freu dich auf neue Gäste! </p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Das letzte Event verpasst?</h5>
                <p class="unfelbar-catchtext">Von Rockerkneipe bis Cocktailbar, mit Unfelbar wird dein Abend
                    legendär! </p>
            </div>
        </div>
    </div>
    <div
         class="d-flex carousel slide unfelbar-carousel-lg unfelbar-background-chalk unfelbar-shadow"
         data-bs-ride="carousel">
        <div class="carousel-inner text-center unfelbar-text-white d-flex align-items-center ">
            <div class="carousel-item active" data-bs-interval="8000">
                <h5>Neu in der Stadt und Langeweile?</h5>
                <p class="unfelbar-catchtext">Mit dem Barfinder von Unfelbar findest du die besten Bars, Events und
                    Angebote in deinem Konstanz.</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Noch keine Idee für die Kneipentour?</h5>
                <p class="unfelbar-catchtext">Sei der Guide den deine Freunde suchen und teile deine Touren und
                    Lieblingskneipen.</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Deine Bar ist schwer zu finden?</h5>
                <p class="unfelbar-catchtext">Bringe deine Bar auf jedes Smartphone. Verliere keine Zeit, melde dich an
                    und deine Bar wird un(ver)fehlbar!</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Geschüttelt, nicht gerührt?</h5>
                <p class="unfelbar-catchtext">Finde mit Unfelbar einen Ort der deinen Wünschen gerecht wird. Genieße
                    deinen Feierabend in ruhiger Atmosphäre bei einem Glas Wein.</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Niemand kommt zu deinen Events?</h5>
                <p class="unfelbar-catchtext">Bei Unfelbar kannst du dich und deine Bar einfach, unkompliziert und
                    schnell der ganzen Stadt präsentieren.</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Mit dem Chef auf einen Drink?</h5>
                <p class="unfelbar-catchtext">Egal ob Meeting oder Abend mit Freund*innen, Unfelbar hilft dir die
                    richtige Wahl zu treffen.</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Zu spät zur Happy-Hour?</h5>
                <p class="unfelbar-catchtext">Keine bösen Überraschungen mehr durch verpasste Schnapps.</p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Eigene Homepage zu kompliziert?</h5>
                <p class="unfelbar-catchtext">Ganz ohne Programmierkenntnisse setzt du deine Events und Angebote in
                    Szene. Registriere dich und freu dich auf neue Gäste! </p>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <h5>Das letzte Event verpasst?</h5>
                <p class="unfelbar-catchtext">Von Rockerkneipe bis Cocktailbar, mit Unfelbar wird dein Abend
                    legendär! </p>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0 mt-1">
        <div class="d-flex flex-row flex-nowrap" style="overflow-x: auto;">

            <% bars.forEach( (bar) => { %>
                <div class="unfelbar-bierdeckel" onclick="window.location='/bar/<%= bar.id%>'">
                    <img src="/images/bars/<%= bar.picture%>" class="unfelbar-bierdeckel-image" alt="bar_example_1">
                    <div class="unfelbar-bierdeckel-label">
                        <h5 class="card-title m-1"><%= bar.name; %></h5>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <div class="unfelbar-dummy m-1"></div>
</main>

