<main>
    <h1>ADMIN PAGE</h1>

    <div class="d-flex justify-content-center align-items-center">
        <button onclick=window.location.href='/bar/new' class="m-2 unfelbar-button">Bar erstellen</button>
        <button onclick=window.location.href='/category/index' class="m-2 unfelbar-button">Kategorien verwalten</button>
        <button onclick=window.location.href='/meinBereich' class="m-2 unfelbar-button">Profil ansehen</button>
    </div>
</main>
