<main>
    <h1>ADMIN PAGE</h1>

    <div class="d-flex justify-content-center align-items-center">
        <button href="/bar/new" class="m-2 unfelbar-button">Bar erstellen</button>
        <button href="/category/new" class="m-2 unfelbar-button">Kategorie erstellen</button>
        <button href="/meinBereich" class="m-2 unfelbar-button">Profil ansehen</button>
    </div>
</main>
