<main>
    <div class="d-flex flex-column flex-sm-row flex-nowrap" style="overflow-x: auto;">
        <% for(let i = 0; i < barTour.length; i++){ %>
            <div class="d-flex flex-column align-items-center">
                <div class="unfelbar-bierdeckel" onclick="window.location='/bar/<%= barTour[i].id; %>'">
                    <img src="/images/bars/<%= barTour[i].picture %>" class="unfelbar-bierdeckel-image"
                         alt="bar_example_1">
                    <div class="unfelbar-bierdeckel-label">
                        <h5 class="card-title m-1"><%= barTour[i].name; %></h5>
                    </div>
                </div>
                <button class="unfelbar-button align-self-center" onclick="window.location='/tour/remove/<%= i %>'">Aus
                    Tour entfernen
                </button>
            </div>
        <% }; %>
    </div>
    <div class="d-flex justify-content-around">
        <button class="unfelbar-button mx-1" onclick="window.location='/bars'">Weitere Bars hinzufügen</button>
        <button class="unfelbar-button mx-1" onclick="window.location='/tour/clear'">Verwerfen</button>
        <button class="unfelbar-button mx-1" onclick="window.location='/tour/create'">Speichern</button>
    </div>
</main>
